.vscode/
accessories/
*.map
mocha-insights/
credentials/
media/
node_modules/
src/
tests/
./typings/
.editorconfig
.gitignore
.eslintignore
.eslintrc.yml
.npmignore
.prettierignore
.prettierrc
.travis.yml
.yo-rc.json
tsconfig.json
tslint.json
gulpfile.ts